body {
  font-family: 'Arial', serif;
  color: black;
  margin-left: 100px;
  margin-top: 50px;
  width: 50%;
}

h2 {
  font-size: 1.3rem;
}

footer {
  margin-top: 100px;
}

li {
  cursor: pointer;
  display: inline-block;
  color: blue;
}

ul {
  list-style-type: none;
}

input, button {
  outline: none;
}

button {
  background: none;
  color: #111;
  border: 0px;
  font-size: 16px;
  margin: 10px 0 0;
  cursor: pointer;
}
button:hover {
  color: blue;
}

input[type="text"] {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

.block {
  display: block;
}

.done {
  text-decoration: line-through;
}

.inlineblock {
  display: inline-block;
}




